################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab1/Lab1_Start/.vs/Lab1_Solution/v15/Browse.VC.opendb
/Lab1/Lab1_Start/.vs/Lab1_Solution/v15
/Lab1/Lab1_Start/Debug
/Lab1/Lab1_Start/Lab1_Solution/Debug/Lab1_Solution.tlog
/Lab1/Lab1_Start/Lab1_Solution/Debug
*.zip
*.ipch
*.suo
*.db
*.opendb
*.tlog
*.pdb
*.log
*.obj
*.idb
*.ilk
