################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab1/Lab1_Start/.vs/Lab1_Solution/v15/Browse.VC.opendb
/Lab1/Lab1_Start/.vs/Lab1_Solution/v15/Browse.VC.db
/Lab1/Lab1_Start/.vs/Lab1_Solution/v15/.suo
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/BTN415/v15/Browse.VC.db
/.vs/BTN415/v15/.suo
/Lab1/Lab1_Start/Debug
/Lab1/Lab1_Start/Lab1_Solution/Debug
