################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab1/Lab1_Start/.vs/Lab1_Solution/v15/Browse.VC.opendb
